* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto;
}

header {
  display: grid;
  background-color: aqua;
  text-align: center;
  padding: 2em;
  grid-template-columns: auto auto;
  align-items: center;
}

header nav ul {
  list-style-type: none;
  float: left;
  padding-left: 0.5em;
}

header nav li {
  display: inline;
}

header nav a {
  padding: 0.5em;
  text-decoration: none;
}

header img {
  justify-self: end;
}

main {
  background-color: brown;
  text-align: center;
  padding: 2em;
}

footer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: cornflowerblue;
  padding: 2em;
  align-items: center;
}

footer div {
  display: block;
  text-align: left;
}

footer a {
 text-decoration: none;
}

footer ul {
  list-style-type: none;
}

footer h3 {
  padding-bottom: .5em;
}

footer img {
  justify-self: center;
}